{% extends "Book/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Book/css/genre.css' %}? {% now "U" %}">
{% endblock %}
{% block content %}
<div class="marimgcon container">
    {% for post in posts %}
    <div class="row pt-2 ">
       <div class="pa">
            {% for o in post %}
                <div class="col-3 marrow">
                    <a class="article-title" href="{% url 'book-detail' o.id %}"><img src="{{o.Image.url}}" style="width:60%;height:75%"></a>
                    <p><span class="name">{{o.Book_name}}</span></p>
                </div>
            {% endfor %}
        </div>
        <div class="shel">
            <img src="../../static/Book/images/ekshelf.png">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block js %}
 <script>
     'use strict';
     const genre=document.querySelector('.genre');
     console.log();
     
 </script>

        <!-- <script src="{% static 'Book/js/home.js' %}? {% now "U" %}"></script> -->
{% endblock %}